import(RBGL)
import(RColorBrewer)
import(graph)
import(grid)
import(lattice)
import(methods)
import(reshape)

#export(plot.Venn)
#export(plotVenn)
#importFrom("graphics",  plot)

export(Venn)
# cf export(mle) # exporting methods implicitly exports the generics
exportMethods( plot)

export(compute.Venn)
export(VennThemes)
export(VennGetSetLabels)
export(VennSetSetLabels)
export(VennFromSets)
export(VennSetUniverseRange)
export(compute.S4)
export(compute.AWFE)
export(VennGetUniverseRange)
export(VennGetFaceLabels)
export(Weights)
export("Weights<-")
export(compute.CR)
export(PlotDarkMatter)
export(PlotVennGeometry)
export(addSetToDrawing)
export(.validateDrawing)
export(remove.nonintersectionpoints)
export(newTissueFromCircle)
export(newTissueFromEllipse)
export(newTissueFromPolygon)
export(makevp.eqsc)
export(PlotSetBoundaries)
export(.create.edge.joining.faces)
export(makeAWFESets)
export(EulerClasses)
export(.point.xy.to.theta)
export(NumberOfSets)
export(newEdgeSector)
export(PlotFaces)
export(.normalise.sector)
export(PlotNodes)
export(.edge.to.xy)
export(TwoCircles)
export(.find.point.within.face)
export(.square.universe)
export(newEdgeLines)
export(.checkPointOnEdge)
export(injectPoint)
export(injectEdge)
export(.is.face.within.set)
export(.PlotFaceNames.TissueDrawing)
export(renameFaces)
export(.faceNames)
export(.findIntersection)
export(.is.point.within.face)
export(.merge.faces.invisibly.split)
# to make VennDrawingTest.Rnw compile
export(UpViewports)
export(compute.C2)
export(Areas)
export(dark.matter.signature)
export(compute.S2)
export(compute.C3)
export(compute.T3)
export(VisibleRange)
export(compute.S3)
export(CreateViewport)
export(PlotIntersectionText)
export(VennSetNames)
export(.inscribetriangle.feasible)

exportClasses(VDedgeLines)
exportClasses(VDedgeSector)

