import(RBGL)
import(RColorBrewer)
import(graph)
import(grid)
import(lattice)
import(methods)
import(reshape2)

#export(plot.Venn)
#export(plotVenn)
#importFrom("graphics",  plot)

export(Venn)
# cf export(mle) # exporting methods implicitly exports the generics
exportMethods( plot)

export(compute.Venn)
export(VennThemes)
export(VennGetSetLabels)
export(VennSetSetLabels)
export(VennFromSets)
export(VennSetUniverseRange)
export(compute.S4)
export(compute.AWFE)
export(VennGetUniverseRange)
export(VennGetFaceLabels)
export(VennSetFaceLabels)
export(Weights)
export("Weights<-")
#export(compute.CR)
export(PlotDarkMatter)
export(PlotVennGeometry)
#export(addSetToDrawing)
#export(remove.nonintersectionpoints)
#export(newTissueFromCircle)
#export(newTissueFromEllipse)
#export(newTissueFromPolygon)
export(makevp.eqsc)
export(PlotSetBoundaries)
#export(makeAWFESets)
#export(EulerClasses)
export(NumberOfSets)
#export(newEdgeSector)
export(PlotFaces)
export(PlotNodes)
#export(TwoCircles)
#export(newEdgeLines)
#export(injectPoint)
#export(injectEdge)
#export(renameFaces)
# to make VennDrawingTest.Rnw compile
#export(UpViewports)
#export(compute.C2)
export(Areas)
#export(dark.matter.signature)
#export(compute.S2)
#export(compute.C3)
#export(compute.T3)
export(VisibleRange)
#export(compute.S3)
#export(CreateViewport)
export(PlotIntersectionText)
export(VennSetNames)

exportClasses(VDedgeLines)
exportClasses(VDedgeSector)

